<!-- Include header  -->
<%- include partials/header %>

<!-- Body image contents area -->
        <section class="section">
            <p class = "description"> Kate's Gallery | What a joyful life!</p>
            <div class="gallery">
                <div class="gallerywrap">
                    <figure class="galcard"><img src="img/banff.jpg" alt="Banff Lake"><figcaption>[Aug,2019] Banff Lake</figcaption></figure>
                    <figure class="galcard"><img src="img/jasper.jpg" alt="Jasper"><figcaption>[Aug,2019] Jasper</figcaption></figure>
                    <figure class="galcard"><img src="img/y3.jpg" alt="Morning Glory Pool"><figcaption>[Aug,2019] Morning Glory Pool</figcaption></figure>
                    <figure class="galcard"><img src="img/y4.jpg" alt="Canyon Village Campground"><figcaption>[Aug,2019] Canyon Village Campground</figcaption></figure>
                    <figure class="galcard"><img src="img/pond.jpg" alt="Forgetmenot pond"><figcaption>[Aug,2019] Forgetmenot pond</figcaption></figure>
                    <figure class="galcard"><img src="img/tunne.jpg" alt="Tunnel MT Otentik"><figcaption>[Aug,2019] Tunnel MT Otentik</figcaption></figure>
                    <figure class="galcard"><img src="img/y2.jpg" alt="Yellow Stone"><figcaption>[Aug,2019] Yellow Stone</figcaption></figure>
                    <figure class="galcard"><img src="img/sasca.jpg" alt="Saaskachan Farm"><figcaption>[Aug,2019] Saaskachan Farm</figcaption></figure>
                    <figure class="galcard"><img src="img/molain.jpg" alt="Banff Molain Lake"><figcaption>[Aug,2019] Banff Molain Lake</figcaption></figure>
                </div>
            </div>
        </section>
    </div>

<!-- Include footer -->
<%- include partials/footer %>